body {
    font-family: "Roboto", serif;
    display: flex;
    flex-direction: column;
    margin: auto;
}

* {
    font-family: "Roboto", serif;
}

.images-2-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0px 50px;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
}

ul > li {
    list-style-type: none;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.section-1 {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding: 100px 50px;
    gap: 20px;
}

.text-section {
    width: 50%;
}

.image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: #f9f9f9;
}

.text-section > p {
    color: #e5e7eb;
    font-size: 18px;
}

.text-section > h2 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.text-section > button {
    padding: 5px 20px;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    font-weight: 900;
}

.section-2 {
    text-align: center;
    background-color: white;
    padding-bottom: 50px;
}

.img > img {
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 12px;
    align-items: center;
}

.img {
    width: min-content;
}

.section-2 > h3 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.section-3 {
    text-align: center;
    background-color: #e5e7eb;
    padding: 50px 50px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.section-4 {
    padding: 35px 50px;
}

.section-4-container {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 35px 35px;
}

.cta {
    margin: 0px;
}

.subtext {
    margin-top: 10px;
    font-weight: lighter;
}

.cta-btn {
    border: 1px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 6px 18px;
    margin: auto 0px;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
}

.footer > p {
    padding: 20px;
}